body{
  background-color: red;
  
}
h1{
  align-self: center;
  text-align: center;
  background-color: yellow;
  border-style: double; 
}
p{
   font-weight: bold;
  font-size: 10;
  border-style: double;
  font-family:serif;
  display:run-in;
  object-position: center;
  text-align: center;
  background-color:antiquewhite;
}
h2{
}
h3{
}
h4{ 
}
h5{
}
h6{
}
.hodfwihf{
  text-align: center;
  border-style:ridge;
  border-color: whitesmoke;
  background-color:azure;
  text-decoration: inherit;
  text-indent: inherit;
  font-style: inherit;
  font-family: sans-serif;
  align-self: auto;
  font-size: 18;
}
  :  hover{
  font-size: 24;
    text-align: center;
  border-style:ridge;
  border-color: whitesmoke;
  background-color:azure;
  text-decoration: inherit;
  text-indent: inherit;
  font-style: inherit;
  font-family: sans-serif;
  align-self: auto;
}
.buttons: hover{
transform: Y -15;
  transition: transform 0.3 ease-in-out;
  cursor: pointer;
}
.buttons img{
  width: 100;
}
/* style for each ramen info card */
.buttons{
  width: 325;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2 solid black;
  margin: 10;
}
.mainstyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20;
}

