
body{
background-color: black;
background-image: url("Images/background.png");
}
h1{
  align-self: center;
  text-align: center;
  background-color: yellow;
  border-style: double; 
}
p{
   font-weight: bold;
  font-size: 10;
  border-style: double;
  font-family:serif;
  display:run-in;
  object-position: center;
  text-align: center;
  background-color:antiquewhite;
}
h2{
  border-style:ridge;
  border-color: whitesmoke;
  text-decoration: none;
}
h3{
}
h4{ 
}
h5{
}
h6{
}
a{
  color:whitesmoke;
    text-decoration:none;
  font-size: 18;
}
  a:hover{
  font-size: 24;
  text-align: center;
  text-decoration: none;
  text-indent: inherit;
  font-style: inherit;
  font-family: sans-serif;
  align-self: auto;
    background-color: whitesmoke;
}
.buttons: hover{
transformY: -15;
  transition: transform 0.3 ease-in-out;
  cursor: pointer;
  color: whitesmoke;
}
.buttons{
  width: 325;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2 solid black;
  margin: 10;
  border: ridge;
  border-width: thick;
  border-color: antiquewhite;
  transition: transform 0.3 ease-in-out;
  background-color: antique-white;
  background-image: url("Images/Background-Cosmos.png");
  color: whitesmoke;
  text-decoration: none;
  text-transform: capitalize;
  background-color: whitesmoke;
  font-family: fantasy;
}
.mainstyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20;
  background-color: whitesmoke;
}
.buttons img{
  width: 100;
}
.img{
  width: 50;
}
