body{
  background-color: red;
  
}
h1{
  align-self: center;
  text-align: center;
  background-color: yellow;
  border-style: double; 
}
p{
   font-weight: bold;
  font-size: 10;
  border-style: double;
  font-family:serif;
  display:run-in;
  object-position: center;
  text-align: center;
  background-color:antiquewhite;
}
h2{
}
h3{
}
h4{ 
}
h5{
}
h6{
}
a{
  text-align: center;
  border-style:ridge;
  border-color: whitesmoke;
  background-color:azure;
  text-decoration: inherit;
  text-indent: inherit;
  font-style: inherit;
  font-family: sans-serif;
  align-self: auto;
  font-size: 18;
}
a:hover{
  font-size: 24;
    text-align: center;
  border-style:ridge;
  border-color: whitesmoke;
  background-color:azure;
  text-decoration: inherit;
  text-indent: inherit;
  font-style: inherit;
  font-family: sans-serif;
  align-self: auto;
}
