body{
  background-color: red;
  background-image: url("Images/background.png");
  
}
h1{
  align-self: center;
  text-align: center;
  background-color: yellow;
  border-style: double; 
}
p{
   font-weight: bold;
  font-size: 10;
  border-style: double;
  font-family:serif;
  display:run-in;
  object-position: center;
  text-align: center;
  background-color:antiquewhite;
}
h2{
  border: Ridge;
  Background-color: darkblue;
}
h3{
}
h4{ 
}
h5{
}
h6{
}
.hodfwihf{
  text-align: center;
  border-style:ridge;
  border-color: whitesmoke;
  background-color:azure;
  text-decoration: inherit;
  text-indent: inherit;
  font-style: inherit;
  font-family: sans-serif;
  align-self: auto;
  font-size: 18;
}
  a:hover{
  font-size: 24;
  text-align: center;
  text-decoration: inherit;
  text-indent: inherit;
  font-style: inherit;
  font-family: sans-serif;
  align-self: auto;
}
.buttons: hover{
transformY: -15;
  transition: transform 0.3 ease-in-out;
  cursor: pointer;
}
.buttons{
  width: 325;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2 solid black;
  margin: 10;
  border: ridge;
  border-width: thick;
  border-color: antiquewhite;
  transition: transform 0.3 ease-in-out;
  background-color: darkblue;
  color: antiquewhite;
  text-decoration: none;
  text-transform: capitalize;
}
.mainstyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20;
}
.buttons img{
  width: 100
}

